%p#notice= notice

%p
  %b Name:
  = category.name

%p
  - category.products.each do |product|
    = link_to(product.title, category_product_path(product.category, product)) 

= link_to 'New product', new_category_product_path(category), class: "btn btn-success", role: "button"
%br
%br

= link_to 'Back', categories_path, class: 'btn btn-primary', role: "button"
