.panel.panel-info
  .panel-heading.bolder= product.title
  .panel-body
    %h4 
      %b Description:
    %p= product.description
  %ul.list-group
    %li.list-group-item 
      %b Category:
      =product.category.name
    %li.list-group-item
      %b Price:
      =number_to_currency(product.price)
    %li.list-group-item
      %b Average rating:
      =product.average_rating
    %li.list-group-item
      %b Total ratings:
      =product.reviews.count
    %li.list-group-item
      %b Added at:
      =product.created_at.strftime("%d-%m-%y")

-if is_owner?(current_user, product)
  = link_to 'Edit', edit_category_product_path(category.id, product.id), class: "btn btn-warning", role: "button"
  \|
= link_to '<< Back', category_products_path, class: 'btn btn-primary', role: "button"

%h3 Users reviews

= render reviews

= link_to 'Add review', new_category_product_review_path(category.id, product.id), class: "btn btn-success", role: "button"



