%p#notice= notice
%p#error= flash[:error]

%p
  %b Title:
  = product.title
%p
  %b Description:
  = product.description
%p
  %b Price:
  = product.price

%p
  %b Category
  = product.category.name
-if is_owner?(current_user, product)
  = link_to 'Edit', edit_category_product_path(category.id, product.id), class: "btn btn-warning", role: "button"
  \|
= link_to 'Back', category_products_path, class: 'btn btn-primary', role: "button"

%h3 Reviews

= render reviews

= link_to 'Add review', new_category_product_review_path(category.id, product.id), class: "btn btn-success", role: "button"



