= simple_form_for [category, product, review] do |f|
  = render 'shared/errors', object: f.object
  
  .form-group
    = f.label :content
    = f.text_area :content, class: 'form-control'
  .form-group
    = f.input :rating, collection: 1..5, class: 'form-control'

  = f.submit 'Save', class: 'btn btn-default'
